<%= form_for @chart, html: { multipart: true } do |f| %>
  <% if @chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chart.errors.count, "error") %> prohibited this chart from being saved:</h2>

      <ul>
      <% @chart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :currencypair %><br>
  <%= f.select :currencypair, options_for_select(@currencypairs.collect { |s| [s[0].humanize, s[0]] }, selected: @chart.currencypair), {} , class: "form-control" %>
</div>
<div class="field">
  <%= f.label :interval %><br>
  <%= f.select :interval, options_for_select(@intervals.collect { |s| [s[0].humanize, s[0]] }, selected: @chart.interval), {} , class: "form-control" %>
</div>
  <div class="field">
    <%= f.label :recommendation %><br>
    <%= f.text_area :recommendation %>
  </div>
    <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
