<p id="notice"><%= notice %></p>

<p>
<strong>Currencypair:</strong>
<%= @chart.currencypair.pairname %>
  <strong>Recommendation:</strong>
  <%= @chart.recommendation %>
  <strong>Interval:</strong>
  <%= @chart.interval %>
  <%= image_tag @chart.image.url %>
</p>

<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>
