<style>
    .demo-card-event.mdl-card {
        width: 180px;
        height: 150px;
        background: #3E4EB8;
        display: inline-block;
        min-height: 60px;
    }
    .demo-card-event > .mdl-card__actions {
        border-color: rgba(255, 255, 255, 0.2);
        height: 30px;
    }
    .demo-card-event > .mdl-card__title {
        align-items: flex-start;
    }
    .demo-card-event > .mdl-card__title > h4 {
        margin-top: 0;
    }
    .demo-card-event > .mdl-card__actions {
        display: flex;
        box-sizing:border-box;
        align-items: center;
    }
    .demo-card-event > .mdl-card__title,
    .demo-card-event > .mdl-card__actions,
    .demo-card-event > .mdl-card__actions > .mdl-button {
        color: #fff;
    }
</style>



<%= link_to currencypair_charts_path(1) do %>

    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand mdl-js-button mdl-js-ripple-effect">
        <h4>
          EURRSD<br>
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          123.23
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">event</i>
      </div>
    </div>

<% end %>
<%= link_to currencypair_charts_path(2) do %>

    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand mdl-js-button mdl-js-ripple-effect">
        <h4>
          USDRSD<br>
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          123.23
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">event</i>
      </div>
    </div>

<% end %>
<%= link_to currencypair_charts_path(3) do %>

    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand mdl-js-button mdl-js-ripple-effect">
        <h4>
          CHFRSD<br>
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          123.23
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">event</i>
      </div>
    </div>

<% end %>
<%= link_to currencypair_charts_path(4) do %>

    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand mdl-js-button mdl-js-ripple-effect">
        <h4>
          RUBRSD<br>
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          123.23
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">event</i>
      </div>
    </div>

<% end %>
<%= link_to currencypair_charts_path(5) do %>

    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand mdl-js-button mdl-js-ripple-effect">
        <h4>
          GBPRSD<br>
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          123.23
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">event</i>
      </div>
    </div>

<% end %>
<%= link_to currencypair_charts_path(6) do %>

    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand mdl-js-button mdl-js-ripple-effect">
        <h4>
          CNYRSD<br>
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          123.23
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">event</i>
      </div>
    </div>

<% end %>

